.button {
    display: block;
    margin: 0 auto;
    border-radius: 6px;
    padding: 20px;
}

.modal-background {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.86);
}

.modal-card {
    margin: 250px auto;
    display: block;
    width: 800px;
    height: 400px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 30px;
}