@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
}
img {
    width: 1200px;
    height: 900px;
    object-fit: cover;
}
.arts-container {
    flex-wrap: wrap;
    justify-content: space-between;
}
.single-art {
    flex-shrink: 1;
    flex-basis: 24%;
    margin: 0;
}
.container{
    height: 100vh;
}
.error-message{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #ebccd1;
    width: 200px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 4px;
}